/***
 * style test content
 */
body {
  margin: 0px;
}
#content {
  background-color: #f0f0f0;
  width: 100%;
  margin: 0px;
  padding: 1px;
}
#content h1 {
  font: Verdana Helvetica sans-serif 20px;
}
#content img {
  float: left;
  margin: 0px 10px 0px 0px;
  height: 75px;
}
#content h1 .subhead {
  font-size: 75%;
  color: darkgrey;
  margin-left: 10px;
}
